{% load static %}

<link rel="stylesheet" href="{% static '/css/home/home.css' %}">
<link rel="stylesheet" href="{% static '/css/home/searchcss.css' %}">
<link rel="stylesheet" href="{% static '/css/home/signin_signupcss.css' %}">
<link rel="stylesheet" href="{% static '/css/images/image_detailcss.css' %}">
<link rel="stylesheet" href="{% static '/css/images/imghomecss.css' %}">
<link rel="stylesheet" href="{% static '/css/persons/edit_profilecss.css' %}">
<link rel="stylesheet" href="{% static '/css/persons/profilecss.css' %}">
<link rel="stylesheet" href="{% static '/css/persons/searched_usercss.css' %}">



